docutils==0.16
graphviz==0.14
h5py==2.10.0
joblib==0.17.0
legacy-api-wrap==1.2
leidenalg==0.7.0
matplotlib==3.3.0
MulticoreTSNE==0.1
networkx==2.5
numba==0.51.2
numexpr==2.7.1
numpy==1.19.2
pandas==1.1.2
pycairo==1.20.0
pydot==1.4.1
python-igraph==0.8.0
regex==2020.10.11
scikit-learn==0.23.2
scipy==1.5.2
seaborn==0.10.0
statsmodels==0.12.0
umap-learn==0.4.6
